BOT_TOKEN=8873479557:AAG5choDr8lc7_gU20JmVmc6JWbRdQMsL-o
MONGO_URI=mongodb+srv://shunqa9_db_user:zoxa001@cluster0.bwfkr14.mongodb.net/mafia?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=mafia
OWNER_ID=7651404790
PORT=3000
